
    <footer>
      <div class="footer">
        <div class="footer-1">
            <div class="fabout">
                <h3>About Us</h3>
                <span>
                    A meaningful,healthy cinema to the Indian audience by prioritising
                    promotion of Indian culture, ethics as a powerful alternative to overemphasis on foreign
                    culture
                </span>
            </div>
     
            <div>
                <h3>Links</h3>
                <ul class="FlinkList">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </div>

            <div class="fQuery">
                <h3>Have a Question</h3>
                    <i class="fa-solid fa-location-dot"></i>Greater Noida
                    <br>
                    <i class="fa-solid fa-phone"></i>+91 1234567890
                    <br>
                    <i class="fa-solid fa-envelope"></i>ABC@gmail.com
            </div>
        </div>
        <br>
        <div class="footer-2">
            <div>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <a href="https://youtube.com/@TheFilmFoundationTrust"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div>
                <span>Copyright Belongs To</span>
            </div>
        </div>
      </div>

    </footer>