
    <footer>
      <div class="footer">
        <div class="footer-1">
            <div class="fabout">
                <h3>About Us</h3>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                    laboriosam sit sunt dolor adipisci nemo ipsa eaque quas aliquam
                    commodi!
                </span>
            </div>
     
            <div>
                <h3>Links</h3>
                <ul class="FlinkList">
                    <li><a href="About.html">About</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </div>

            <div>
                <h3>Have a Question</h3>
                    <i class="fa-solid fa-location-dot"></i>Greater Noida
                    <br>
                    <i class="fa-solid fa-phone"></i>+91 1234567890
                    <br>
                    <i class="fa-solid fa-envelope"></i>ABC@gmail.com
            </div>
        </div>
        <div class="footer-2">
            <div>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div>
                <span>Copyright Belongs To</span>
            </div>
        </div>
      </div>

    </footer>