<header>
      <nav>
        <div class="logo">
          <a href="#">logo</a>
        </div>
        <div class="links">
          <a href="/">Home</a>
          <a href="/event">Event</a>
          <a href="/membership">Membership</a>
          <a href="/about">About us</a>
          <a href="/contact">Contact us</a>
        </div>
        <div class="membership">
          <a href="Membership.html">Membership</a>
          <i id="menu-bar" class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </header>