@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.membershipBanner{
    background-image: url(../images/Blue\ Pink\ Gradient\ Fashion\ Banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}
.memberWork{
    width: 100%;
}
.memberWork span{
    font-family: Bree Serif;
}
.Note1{
   margin: 44px 114px; 
   line-height: 1.5;
}
.Note1 span{
    font-family: "Poppins", sans-serif;
    color: rgb(236, 48, 48);
    font-size: 20px;
    font-weight: 700;
}
.TypesOfMember{
    margin: 10px 65px;
}
.TypesOfMember p{
    line-height: 1.5;
}
.HeadlineOfMember{
    font-size: 25px;
    font-weight: 700;
}
.memberList{
    margin: 10px;
    margin-left: 40px;
    line-height: 2;
}
.ordinaryMember span{
    font-size: 25px;
    font-weight: 700;
}
.ordinaryMember p{
    font-size: 18px;
    font-weight: 500;
}
.nominalMember span{
    font-size: 25px;
    font-weight: 700;
}
.nominalMember {
    font-size: 18px;
    font-weight: 500;
}
.workAssigned h3{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px 6px 0px;
}
.workAssigned ul{
    margin: 8px 18px;
    font-size: 19px;
}
.termsAndCondition {
    text-align: center;
    margin-top: 32px;
}
.termsAndCondition span{
    font-weight: 700;
    font-size: 25px;
    color: #cd1515;
}
.termsAndCondition p{
    font-size: 20px;   
}
.membershipButton{
    display: block;
    align-items: center;
    padding: 6px;
    font-size: 18px;
    font-weight: 700;
    background-color: #cd1515;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
}
.membershipButton:hover{
    padding: 10px 10px;

}
.MembershipButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


  
  button {
    padding: 10px;
    font-size: 1.1em;
    background: #32bacf;
    color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  #modal-overlay {
    width: 100%;
    height: 100vh;
   margin-top: 0px;
   position: absolute;
    background: rgba(0, 0, 0, 0.7);
  
    display: none;
    align-items: center;
    justify-content: center;
  }
  #modal-overlay #modal {
    max-width: 650px;
    width: 100%;
    background: white;
    height: 550px;
  
    display: flex;
    flex-direction: column;
    padding:10px;
  }
  
  #modal-overlay #modal .modal-footer {
    margin-top: auto;
  }